
<div class="container">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Sipariş Listesi
            </h2>
        </div>
        
    </div>
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>İsim</th>
                <th>Sipariş Zamanı</th>
                <th>Telefon No</th>
                <th>Sipariş Tutar</th>
              
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/siparis.js"></script>
}