@model List<Urun>

<div class="container">
    
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Ürünler
            </h2>
            </div>
        <div class="col-6 text-end">
            <a asp-controller="Urun" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Ürün Ekle
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
             <tr>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Ürün Kodu</th>
        <th>Ürün Marka</th>
        <th>Liste Fiyatı</th>
        <th></th>
            </tr>
        </thead>
    </table>
    </div>

@section Scripts{
    <script src="~/js/urun.js"></script>
}