@model int
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text center">Siparişiniz Oluşturuldu</h1>
        Sipariş Numaranız: @Model <br /><br />
        <img src="~/resimler/altin.png" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Siparişinizi Aldık!<br />
    </div>
</div>