@{
    ViewData["Title"] = "Home Page";
}

<div>
    <lu><center><h4>Anlık Döviz Kuru</h4> </center></lu>
    <div class="d-flex align-content-md-center">
        <iframe src="https://api.genelpara.com/iframe/?symbol=doviz&doviz=USD,EUR,GBP,CHF,CAD,RUB,AED,JPY&stil=stil-6&renk=beyaz" title="Döviz Kurları" frameborder="0" width="1130" height="405" style="width:1130px; height:405px;"></iframe>
    </div>
</div>
<div class="align-content-center">
    finans
</div>
